@model SklepZWarzywami.Models.DbModels.Zakup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zakup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sprzedawca.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprzedawca.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZakupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
