@model SklepZWarzywami.Models.DbModels.Zakup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Szczeguły Zakupu</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Id Zakupu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZakupId)
        </dd>

        <dt>
            Sprzedawca
        </dt>

        <dd>
            @ViewBag.Sprzedawca
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>

<h5>Lista Zakupów</h5>

<table class="table">
    <tr>

        <th>
            Warzywo
        </th>

        <th>
            Waga
        </th>

        <th>
            Cena za kg
        </th>

        <th>
            Cena
        </th>

    </tr>

    @for (int i = 0; i < ViewBag.IloscZakupowJednostkowych; i++)
    {
        <tr>

            <td>
                @ViewBag.NazwyWarzywKolejno[i]
            </td>

            <td>
                @ViewBag.CenaLaczna[i]
            </td>

            <td>
                @ViewBag.CenaZaKgKolejno[i]
            </td>

            <td>
                @ViewBag.IloscNaStanieKolejno[i]
            </td>

        </tr>
    }

</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZakupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>