@model IEnumerable<SklepZWarzywami.Models.DbModels.Zakup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sprzedawca.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            Suma
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sprzedawca.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @item.ObliczSumę()
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ZakupId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ZakupId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ZakupId })   |
            @Html.ActionLink("ListaZakupow", "ListaZakupow", new { id = item.ZakupId })
        </td>
    </tr>
}

</table>
